<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gröna Tryck</title>
    <link rel="stylesheet" href="/static/bootstrap.css" />
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="stylesheet" href="/static/popup.css" />
  </head>
  <header>
    <%- include('partials/navbar') %>
  </header>
  <body>
    <div class="hallbarhet-ge">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1551 1112">
        <path
          d="M1373.06 1091.16c-14.21-.14-26.44.54-39-.16-227.72 1.91-342.74-93.53-498.59-244.58 6.85 10.96-18.23-15.38-21.68-18.93 110 119.58 241.82 235.11 408.28 258.06-190.58-14.98-338.24-169.5-468.46-299.74-126.41-141.72-279.66-220.46-452.1-298.39C229.64 450 166.1 392.82 119 327.85c-21.34-22.25-98.03-156.93-36.86-80.17-32.98-49.17-56.56-105-73.89-156.92l3.15 2.57C6.92 83.25 1.04 68.4 1.52 65.73c5.93.69 8.82 5.56 16.85 14.78.5-.7 1.78.03 3.73 2.07-2.67-8.73-2.92-13.39 2.35-8.24-3.82-9.59 5 4.47 6.4 7.29C25.04 65.47 9.51 40.03 5.79 27.3c-1.85-9.07-2.08-13.83 1.01-9.09C1.59 7.43-3.71-6.38 3.86 4.03c2.82 3.76 6.07 10.34 6.41 10.72 4.27 12.48 4.29 12.52 4.29 12.52 1.54 1.29 2.41 3.33 2.56 5.32l-.06-1.91 2.64 6.08-2.88-7.01C23.4 42.82 28.6 52.87 32.99 60.32c-.03-.6.12-.71.12-.71 8.88 16.6 16.38 32.39 26 48.56.02-.03.05-.06.05-.06 6.33 10.37 19.26 27.77 29 45.8-15.82-36.54-44.01-78.85-60.74-118.18 56.03 85.94 108.57 190.72 173.33 273.45-.53-.85-1.05-1.68-1.55-2.5 3.55 4.67 7.14 9.25 10.85 13.75-47.35-63.31-91.75-133.57-126.08-203.59 50.64 76.7 97.19 166.05 160.28 232.43-1.8-2.27-3.5-4.37-5.31-6.65 6.94 7.06 10.28 11.49 17.25 18.19-.49-1.07-1.1-2.33-1.57-3.43 58.87 52.55 125.5 83.81 198.26 114.67-7.88-3.85-15.6-7.6-23.49-11.46 167.3 67.87 302.01 199.06 425.23 327.2-57-53.53-113.26-113.51-175.14-163.74 307.61 280.02 355.24 462.97 826.47 418.62 13.01-1.29 25.13-1.78 26.78-.8-51.37 12.11-119.57 11.19-174.53 11.43-205.78 1.45-328.53-71.52-468.04-216.57.53 2.09-2.2 0-5.25-2.25 168.18 177.93 323.53 241.99 568.35 224.66 2.52-.19 5.15-.17 6.06 0-42.66 4.77-90.71 4.42-136.38 2.76 17.65 2.87 10.99 5-4.09 5.07 10.06 1.2 33.8.97 41.93 3.19-94.34-.75-193.01-15.78-277.3-60.61 122.84 76.79 326.34 65.68 467.5 53.21-45.08 6.66-91.77 8.58-137.25 9.6 5.12.65-5.41.91-6.57.69-2.06-.17-1.86-.43-.19-.59-81.3.06-163.98-3.72-242.12-26.04 81.55 24.21 168.23 29.51 252.88 28.32-.88.83-7.91.55-10.23.83 14.2.02 25.19.71 24.98 1.99-51.2 7.55-118.69-.96-172-4.66 63.65 9.28 129.76 9.98 193.54 9.98-147.52 11.24-304.3-5.94-432.84-86.05 98.11 70.71 219.11 89.1 337.65 90.34 5.52.06 8.64 1.05 1.06.87-100.59-1.16-202.74-13.01-292.69-60.86 88.83 52.62 218.24 63.69 305.88 63.96ZM144.1 257.33c-.39-.76-.71-1.36-.99-1.92 3.93 6.23 4.4 7.57 8.47 16.19-1.58-2.95-5.25-9.9-7.47-14.28ZM67.04 148.26s.01.01.04.06c-1.3-3.37-2.25-5.79-2.25-5.79.91 2.36 1.63 4.2 2.22 5.74h-.01Zm658.31 519.65c-34.28-31.81-69.49-62.29-106.57-90.82 38.13 26.98 72.91 58.54 106.57 90.82ZM101.41 178.76c17.38 37.69 40.68 69.08 63.27 102.33-.63-2.65 6.91 8.53 8.36 9.92-25.25-35.06-49.89-75.02-71.63-112.25ZM19.27 40.67c-.24-.61-.46-1.16-.71-1.85l2.85 3.35s-.92-.65-2.14-1.5Zm-4.61-5.23c.46.96.91 1.92 1.42 2.98-.88-.88-1.24-1.89-1.42-2.98ZM27.9 62.7c-.64-1.69-1.01-2.73-1.6-4l1.6 4ZM13.62 95.22l10 8.07-10.36-9.12s.36 1.01.36 1.05Z"
          style="fill: #b4c3b2"
        />
      </svg>
    </div>
    <section>
      <div class="progress-section">
        <a href="/index">Hem</a> <span>/</span> <a href="/butik">Butik</a>
      </div>
      <div class="store-categories">
        <div class="categorie-item">
          <img
            src="/static/images/Cards/50/webp/Bomber 2.0_Khaki_Studio_Front_Detail_3_50.webp"
            srcset="/static/images/Cards/50/webp/Bomber 2.0_Khaki_Studio_Front_Detail_3_50.webp,
                    /static/images/Cards/50/jpg/Bomber 2.0_Khaki_Studio_Front_Detail_3_50.jpg"
            alt="Nyheter"
          />
          <h2>Nyheter</h2>
        </div>

        <div class="categorie-item">
          <img
            src="/static/images/Cards/50/webp/Stanley_Stella_AW24_Timeless_Outerwear_Mix_01_50.webp"
            srcset="/static/images/Cards/50/webp/Stanley_Stella_AW24_Timeless_Outerwear_Mix_01_50.webp,
                    /static/images/Cards/50/jpg/Stanley_Stella_AW24_Timeless_Outerwear_Mix_01_50.jpg"
            alt="Bästsäljare"
          />
          <h2>Bästsäljare</h2>
        </div>

        <div class="categorie-item">
          <img
            src="/static/images/Cards/50/webp/Striker_Heather Haze_Duo_Front_Main_0_50.webp"
            srcset="/static/images/Cards/50/webp/Striker_Heather Haze_Duo_Front_Main_0_50.webp,
                    /static/images/Cards/50/jpg/Striker_Heather Haze_Duo_Front_Main_0_50.jpg" 
            alt="Kläder"
          />
          <h2>Kläder</h2>
        </div>

        <div class="categorie-item">
          <img
            src="/static/images/Cards/100/wepb/Tote Bag_White_Studio_Front_Main_6.webp"
            srcset="/static/images/Cards/100/wepb/Tote Bag_White_Studio_Front_Main_6.webp,
                    /static/images/Cards/100/jpg/Tote Bag_White_Studio_Front_Main_6.jpg"
            alt="Accessoarer"
          />
          <h2>Accessoarer</h2>
        </div>

        <div class="categorie-item">
          <img
            src="/static/images/Cards/50/webp/DJI_20241010095449_0036_D_50.webp"
            srcset="/static/images/Cards/50/webp/DJI_20241010095449_0036_D_50.webp,
                    /static/images/Cards/50/jpg/DJI_20241010095449_0036_D_50.jpg"
            alt="Tillfälle"
          />
          <h2>Tillfälle</h2>
        </div>

        <div class="categorie-item">
          <img
            src="/static/images/Cards/50/webp/web-ekologiska-gavor-till-anstallda-grona-tryck_50.webp"
            srcset="/static/images/Cards/50/webp/web-ekologiska-gavor-till-anstallda-grona-tryck_50.webp,
                    /static/images/Cards/50/jpg/web-ekologiska-gavor-till-anstallda-grona-tryck_50.jpg"
            alt="Övrigt"
          />
          <h2>Övrigt</h2>
        </div>

        <div class="categorie-item">
          <img
            src="/static/images/Cards/25/webp/StanleyStella_AW24_City_Outerwear_Brooker_Puffer_Gilet_Decoration_25.webp"
            srcset="/static/images/Cards/25/webp/StanleyStella_AW24_City_Outerwear_Brooker_Puffer_Gilet_Decoration_25.webp,
                    /static/images/Cards/25/jpg/StanleyStella_AW24_City_Outerwear_Brooker_Puffer_Gilet_Decoration_25.jpg"
            alt="Varumärken"
          />
          <h2>Varumärken</h2>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="footer-container">
        <div class="footer-content">
          <div class="footer-column">
            <h2>Kundservice</h2>
            <ul>
              <li><a href="#">Frågor & svar</a></li>
              <li><a href="#">Kontakta oss</a></li>
              <li><a href="#">Köpvilkor</a></li>
              <li><a href="#">Återförsäljare</a></li>
            </ul>
          </div>
          <div class="footer-column">
            <h2>Läs mer</h2>
            <ul>
              <li><a href="#">Om oss</a></li>
              <li><a href="#">CSR</a></li>
              <li><a href="#">Hållbarhet</a></li>
              <li><a href="#">Stanley Stella</a></li>
              <li><a href="#">Nyheter</a></li>
              <li><a href="#">Jobba hos oss</a></li>
            </ul>
          </div>
          <div class="footer-column">
            <h2>Följ oss</h2>
            <div class="social-icons">
              <a href="#" aria-label="Facebook">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 800" fill="#052900">
                  <path d="M800 109.06v581.89c0 60.23-48.83 109.06-109.06 109.06H109.06C48.83 800.01 0 751.18 0 690.95V109.06C0 48.83 48.83 0 109.06 0h581.89c60.23 0 109.06 48.83 109.06 109.06ZM690.83 72.82c20.08 0 36.35 16.28 36.35 36.35v581.66c0 20.08-16.28 36.35-36.35 36.35H508.72V473.32h75.59c15.67 0 29.58-10.03 34.54-24.9L635 399.97c5.88-17.65-7.26-35.89-25.86-35.89H508.72V291.2c0-19.99 16.36-36.35 36.35-36.35H618c20.08 0 36.35-16.28 36.35-36.35v-24.94c0-11.74-7.51-22.27-18.89-25.27-47.73-12.57-90.34-12.57-90.34-12.57-91.02 0-145.64 62.78-145.64 117.31v91.05h-71.87c-20.08 0-36.35 16.28-36.35 36.35v36.52c0 20.08 16.28 36.35 36.35 36.35h71.87v253.86H109.17c-20.08 0-36.35-16.28-36.35-36.35V109.17c0-20.08 16.28-36.35 36.35-36.35h581.66Z" style="fill:#052900;fill-rule:evenodd"/>
              </svg>
              </a>
              <a href="#" aria-label="LinkedIn">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 800" fill="#052900">
                  <path d="M674.08 800.03h-548.1C56.53 800.03.03 743.53.03 674.08v-548.1C.03 56.53 56.53.03 125.98.03h548.1c69.45 0 125.95 56.5 125.95 125.95v548.1c0 69.45-56.5 125.95-125.95 125.95ZM125.98 70.12c-30.8 0-55.86 25.06-55.86 55.86v548.1c0 30.8 25.06 55.86 55.86 55.86h548.1c30.8 0 55.86-25.06 55.86-55.86v-548.1c0-30.8-25.06-55.86-55.86-55.86h-548.1Zm107.25 597.72c.23 0 .48-.25.48-.48v-369.5a.48.48 0 0 0-.48-.48H131.06c-.33.29-.67.7-.81.99v369.47h102.98Zm434.02 0c.18-.23.33-.53.33-.7V417.87c0-43.56-12.16-76.54-36.16-98.02-22.94-20.54-56.74-30.95-100.45-30.95s-70.8 9.81-92.34 31.81l-25.75 26.3V310.2c0-2.51 0-9.36-.86-12.82h-97.44c-.32.29-.64.68-.77.97V666.4c.27.45.74 1.02 1.18 1.44h101.8c.23 0 .48-.25.48-.48V469.27c0-29.55 4.94-50.65 15.54-66.41 13.29-19.74 34.94-29.75 64.38-29.75 24.71 0 42.09 6.66 53.14 20.35 9.54 11.83 13.79 27.85 13.79 51.94v221.84c.04.17.14.4.26.6h102.87ZM215.11 212.99c10.65-10.41 16.51-24.34 16.51-39.23 0-30.67-25.91-56.57-56.57-56.57s-54.21 25.91-54.21 56.57c0 15 5.67 29 15.96 39.41 10.18 10.31 23.77 15.98 38.25 15.98s29.39-5.74 40.06-16.16Z" style="fill:#052900"/>
              </svg>
              </a>
              <a href="#" aria-label="Instagram">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 800" fill="#052900">
                  <path d="M673.92 800h-548.1C56.37 800-.13 743.49-.13 674.05V125.94C-.13 56.5 56.37 0 125.82 0h548.1c69.45 0 125.95 56.5 125.95 125.95v548.1c0 69.45-56.5 125.95-125.95 125.95ZM125.82 70.08c-30.8 0-55.86 25.06-55.86 55.86v548.1c0 30.8 25.06 55.86 55.86 55.86h548.1c30.8 0 55.86-25.06 55.86-55.86v-548.1c0-30.8-25.06-55.86-55.86-55.86h-548.1Zm274.02 235.74c-123.38 2.11-123.36 185.64 0 187.73 123.38-2.11 123.36-185.64 0-187.73Zm243-87.22c-46.84-98.69-163.09-73.68-275.86-76.94-118.63 1.03-159.62-4.92-210.09 76.93-20.62 28.36-14.43 150.19-15.36 214.28 1.03 118.64-4.92 159.62 76.93 210.09 28.36 20.62 150.19 14.43 214.28 15.36 78.92 0 118.38 0 148.52-15.36 81.84-50.58 75.87-91.38 76.94-210.09-.94-64.32 5.1-185.62-15.36-214.28Zm-243 321.88c-185.07-3.16-185.05-278.45 0-281.59 185.07 3.16 185.04 278.45 0 281.59Zm140.79-258.12c-30.85-.53-30.84-46.41 0-46.93 30.84.53 30.84 46.41 0 46.93Z" style="fill:#052900"/>
              </svg>
              </a>
              <a href="#" aria-label="Youtube">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 800" fill="#052900">
                  <path d="M674.05 800h-548.1C56.5 800 0 743.5 0 674.05v-548.1C0 56.5 56.5 0 125.95 0h548.1C743.5 0 800 56.5 800 125.95v548.1C800 743.5 743.5 800 674.05 800ZM125.95 70.09c-30.8 0-55.86 25.06-55.86 55.86v548.1c0 30.8 25.06 55.86 55.86 55.86h548.1c30.8 0 55.86-25.06 55.86-55.86v-548.1c0-30.8-25.06-55.86-55.86-55.86h-548.1Zm222 396.31V321.83c51.47 24.22 91.33 47.62 138.47 72.83-38.88 21.57-87 45.75-138.47 72.14m286.9-217.07c-8.88-11.71-24.01-20.8-40.12-23.82-47.35-8.98-342.73-9.01-390.06 0-12.92 2.42-24.42 8.27-34.3 17.37-41.64 38.65-28.59 245.88-18.55 279.45 4.22 14.53 9.68 25.01 16.55 31.89 8.85 9.09 20.97 15.36 34.89 18.16 38.98 8.07 239.83 12.58 390.65 1.21 13.9-2.42 26.2-8.88 35.9-18.37 38.5-38.49 35.87-257.37 5.04-305.9" style="fill:#052900"/>
              </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <p>
            &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            Gröna Tryck. Alla rättigheter förbehållna.
          </p>
        </div>
      </div>
    </footer>
    <script src="/static/bootstrap.js"></script>
    <script src="/static/script.js"></script>
    <script src="/static/login.js"></script>
    <script src="/static/signup.js"></script>
      
  </body>
</html>
