<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gröna Tryck</title>
    <link rel="stylesheet" href="/static/bootstrap.css" />
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="stylesheet" href="/static/swiper.css" />
    <link rel="stylesheet" href="/static/popup.css" />
  </head>
  <header>
    <%- include('partials/navbar') %>
  </header>
  <body>

    <%- include('partials/footer') %>
      <script async src="//www.instagram.com/embed.js"></script>
      <script src="/static/bootstrap.js"></script>
      <script src="/static/swiper.js"></script>
      <script src="/static/script.js"></script>
      <script src="/static/login.js"></script>
      <script src="/static/signup.js"></script>
    </body>
  </html>
