<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <!-- Include the head partial -->
  <body>
    <%- include('partials/navbar') %>
    <!-- Include the navbar partial -->

    <!-- Page-specific content -->
    <a class="navbar-brand" href="/index">Logotyp</a>

    <!-- Navbar-innehåll -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/butik">Butik</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/stanleyStella">Stanley Stella</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/hallbarhet">Hållbarhet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">Om oss</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/kontakt">Kontakt</a>
        </li>
      </ul>
    </div>

    <%- include('partials/footer') %>
    <!-- Include the footer partial -->
  </body>
</html>
