<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gröna Tryck</title>
    <link rel="stylesheet" href="/static/bootstrap.css" />
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="stylesheet" href="/static/swiper.css" />
  </head>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <!-- Hamburger-meny (vänster på mobil) -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Logotyp (vänster på desktop, centrerad på mobil) -->
        <a class="navbar-brand" href="/index">Logotyp</a>

        <!-- Navbar-innehåll -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/butik">Butik</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/stanleyStella">Stanley Stella</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/hallbarhet">Hållbarhet</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">Om oss</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Kontakt</a>
            </li>
          </ul>
        </div>

        <!-- Ikoner (alltid i högerkant) -->
        <div class="navbar-icons">
          <a href="#" class="nav-link">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1080 1080" width="32" height="32">
              <path d="M597.55 427.07h-395.1c-96.64 0-174.99 78.34-174.99 174.98v169.01c0 16.1 13.06 29.16 29.17 29.16h686.74c16.11 0 29.17-13.06 29.17-29.16V602.05c0-96.64-78.35-174.98-174.99-174.98Zm99.99 298.15H102.46V602.05c0-55.13 44.86-99.98 99.99-99.98h395.1c55.13 0 99.99 44.85 99.99 99.98v123.17ZM400 74.78c31.53 0 61.18 12.28 83.47 34.58 22.3 22.3 34.58 51.94 34.58 83.48s-12.28 61.18-34.58 83.48c-22.3 22.3-51.94 34.58-83.47 34.58s-61.18-12.28-83.48-34.58c-22.3-22.3-34.58-51.94-34.58-83.48s12.28-61.18 34.58-83.48S368.46 74.78 400 74.78m0-75c-106.62 0-193.05 86.43-193.05 193.05S293.38 385.88 400 385.88s193.05-86.43 193.05-193.05S506.62-.22 400-.22Z" style="fill:#567c50"/>
          </svg>
          </a>
          <a href="#" class="nav-link">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1080 1080" width="32" height="32">
              <path d="M786.08 734.89 565.9 514.71c43.62-55.3 67.29-123.17 67.29-194.69 0-84.17-32.78-163.31-92.3-222.83S402.24 4.9 318.07 4.9 154.76 37.68 95.24 97.2 2.94 235.85 2.94 320.02s32.78 163.31 92.3 222.83 138.66 92.3 222.83 92.3c71.57 0 139.49-23.71 194.81-67.39l220.17 220.17c7.32 7.32 16.92 10.98 26.52 10.98s19.19-3.66 26.52-10.98c14.64-14.64 14.64-38.39 0-53.03ZM77.94 320.02c0-132.41 107.72-240.13 240.13-240.13S558.2 187.61 558.2 320.02 450.48 560.15 318.07 560.15 77.94 452.43 77.94 320.02Z" style="fill:#567c50"/>
          </svg>
          </a>
          <a href="#" class="nav-link">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1080 1080" width="32" height="32">
              <path d="m749.35 763.23-60-538C687.94 212.57 677.24 203 664.5 203H556.73c-5.23-35.7-12.17-65.73-22.09-91.87-12.54-33.03-29.21-57.35-50.96-74.33C460.06 18.36 430.39 9 395.51 9s-64.6 9.5-88.09 28.24c-21.56 17.2-37.94 41.78-50.07 75.13-9.49 26.08-15.95 57.07-20.55 90.62H134.02c-12.73 0-23.43 9.57-24.85 22.23l-60 538a24.998 24.998 0 0 0 6.21 19.44 25 25 0 0 0 18.63 8.33h650.5a25 25 0 0 0 18.63-8.33c4.74-5.3 7-12.37 6.21-19.44ZM304.32 129.47C322.29 80.08 349.55 59 395.5 59s73.8 20.9 92.39 69.87c7.94 20.92 13.76 46.25 18.18 74.13H287.24c4.06-27.59 9.51-52.7 17.08-73.53ZM101.94 741l54.42-488h74.93c-2.66 30.7-4.34 62.49-5.77 93.86-.63 13.79 10.04 25.49 23.83 26.12.39.02.78.03 1.16.03 13.28 0 24.34-10.45 24.95-23.86 1.48-32.3 3.21-65.01 6-96.14h230.98c3.12 30.6 5.23 62.73 7.1 94.47.81 13.78 12.63 24.31 26.42 23.49 13.78-.81 24.3-12.64 23.49-26.42-1.98-33.77-4.12-64.09-6.78-91.53h79.45l54.42 488h-594.6Z" style="fill:#567c50"/>
          </svg>
          </a>
        </div>
      </div>
    </nav>
      <div class="hero">
        <img src="/static/images/gt-bilder/DJI_20241010094358_0007_D.jpg" alt="Naturbild">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 40">
          <path d="M1 26.89S196.38 2.09 336 1.58c146.52-.53 239.05 20.15 385 25.31C861.03 31.85 930.91 0 1071.5 0S1441 26.89 1441 26.89V140H1V26.89Z" style="fill:#fff"/>
      </svg>
      </div>
  </header>
  <body>

    <section>
        <div class="progressSection">
            <a href="/hallbarhet">Hållbarhet</a> <span>/</span> <a href="/miljo">Miljö</a>
          </div>
        <div class="miljoContainer">

            <div class="text-block">
                <h2 class="heading-m">Miljö</h2>
                <p class="body-text">Hur kan vi garantera att våra produkter är miljövänliga? Genom bland annat märkningar och tester som vi har valt ut noga bland oberoende och icke vinstdrivande kravmärkningar runt om i världen som arbetar med kvalitetskontroller för kvalitet, miljö och arbetsvillkor. Detta med oannonserade besök, krav på dokumentation och textiltester på ett så effektivt och genomskinligt sätt som möjligt.</p>
            </div>

            <div class="hallbarhetAccordions">
                <div class="hallbarhetAccordion">
                    <h2 class="hallbarhetAccordion-header" aria-expanded="false" aria-controls="content1">
                        Certifikat
                    </h2>
                    <div class="hallbarhetAccordion-content" id="content1">
                        <div class="text-block">
                            <h2 class="heading-s">Ekologiskt certifierad bomull</h2>
                            <p class="body-text">
                                Begreppet ekologisk bomull innebär att bomullen måste odlas utan några som helst kemiska bekämpningsmedel eller konstgjorda gödslingsmedel. Genom att våra kläder har oberoende ekologiska certifikat granskas alla kemikaliska insatsmedel och färgämnen som används under hela produktionskedjan, allt från råvara till slutprodukt. Det innebär att tack vare certifieringsetiketter kan konsumenter välja produkter där ett miljömässigt- och socialt ansvar tagits genom hela kedjan och uppfyller miljömässiga och toxikologiska kriterier.
                            </p>
                        </div>
                        <div class="text-block">
                            <h2 class="heading-s">EU Label</h2>
                            <p class="body-text">
                                EU Ecolabel, tidigare känd som EU-blomman, är ett gemensamt miljömärke för EU. Målet med märkningen är att lyfta fram produkter med minskad påverkan på miljön under hela livscykeln. I Sverige kan märkningen hittas på textilier, det vill säga på en del av de kläder som finns till försäljning. Märkningen garanterar att dessa kläder uppfyller stränga miljö-, funktions- och kvalitetskrav. En tröja med märket EU Ecolabel har tillexempel endast tvättats med tvätt- och sköljmedel som är till 95 % biologiskt nedbrytbara. 
                            </p>
                        </div>
                        <div class="text-block">
                            <h2 class="heading-s">OE blended</h2>
                            <p class="body-text">
                                OE-Blended är en tredje parts verifiering för att verifiera att en slutprodukt innehåller den exakta mängden av ett givet organiskt odlat material. För Gröna Tryck ́s produkter handlar det om ekologisk bomull+återvunnen PET, ekologisk bomull+Modal/Tencel/Ecovero. Detta sker genom strikt inspektion och verifiering av transaktionscertifiering. Detta bevisar att det organiska materialet inte skadades när det handlas. Normerna för organisk bomull är lika med de som krävs i USDA: s organiska program för jordbrukare. För att påbörja certifieringsprocessen måste intresserade företag först ansöka genom ett certifieringsorgan som är ackrediterat enligt OE Blended-standarderna. Efter lång inspektion kommer ett beslut att fattas. Om det är ackrediterat, underkastas respektive företag årliga kontroller.
                            </p>
                        </div>
                        <div class="text-block">
                            <h2 class="heading-s">Global Recycle Standard</h2>
                            <p class="body-text">
                                Global Recycle Standard hjälper företag som vill verifiera det återvunna innehållet i sina produkter (både färdiga och mellanprodukter) och att verifiera ansvarsfullt socialt, miljömässigt och kemisk praxis i deras produktion. GRS: s mål är att definiera krav för att säkerställa exakta innehållskrav och goda arbetsförhållanden och att skadliga miljö- och kemiska effekter minimeras. Detta inkluderar företag inom bomullsrensning, spinning, vävning och stickning, färgning, tryckning och sömmar i mer än 50 länder.
                            </p>
                        </div>
                        <div class="text-block">
                            <h2 class="heading-s">Bluesign</h2>
                            <p class="body-text">
                                Bluesign är ett globalt verktyg för alla delar inom textilindustrins produktionsled. För att försäkra sig om att produkterna är miljövänliga och utan hälsofarliga gifter, så hjälper Bluesigns standard med hela designprocessen för att garantera en miljövänlig slutprodukt. Bluesign stanard är inget testinstitut utan är med redan i början av produktionen för att kontrollera att varje steg är gjort med rätt hänsyn. Från råmaterial till underleverantörer, till textiltillverkare och återförsäljare ska alla möta deras kriterier.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="hallbarhetAccordion">
                    <h2 class="hallbarhetAccordion-header" aria-expanded="false" aria-controls="content1">
                        Material
                    </h2>
                    <div class="hallbarhetAccordion-content" id="content2">
                        <div class="text-block">
                            <h2 class="heading-s">100% Ekologisk Kompakt Bomull</h2>
                            <p class="body-text">
                                100% Ekologisk Kompakt Bomull, Vävd Bomull vävt tyg framställs genom sammanflätning av varpen (0 °) fiber och väft (90 °) fiber i ett regelbundet mönster eller ”vävstil”. Tygets integritet upprätthålls av mekanisk sammankoppling av fiber.
                            </p>
                        </div>
                        <div class="text-block">
                            <h2 class="heading-s">R-PET</h2>
                            <p class="body-text">
                                R-PET står för Recycled PET (termoplast) och kommer oftast från återvunna PET-flaskor. De mals först ner för att sen smältas och pressas genom små hål för att skapa textiltrådar. En vinterjacka kan t.ex. bestå av ett 50-tal PET-flaskor och en tygpåse av ca 5 flaskor. 
                            </p>
                        </div>
                        <div class="text-block">
                            <h2 class="heading-s">50 50 Ekologisk Bomull Modal</h2>
                            <p class="body-text">
                                50% Ekologisk Bomull – 50% Modal Modal är en “konstgjord” regenererad cellulosafiber. Modal är tillverkad av hållbart odlad skogsplanteringar av bokträd. Blandad med Organisk Bomull får tyget ett speciellt kallt, mjukt och ledigt resultat.
                            </p>
                        </div>
                        <div class="text-block">
                            <h2 class="heading-s">50 50 Ekologisk Bomull Tencel</h2>
                            <p class="body-text">
                                50% Ekologisk Bomull – 50% Tencel TENCEL kallas för den revolutionära Future Botanic Fibre. I likhet med linne är den konstgjord Lyocell, ett regenererad cellulosafiber tillverkad av hållbart odlade eukalyptusskogar.
                            </p>
                        </div>
                        <div class="text-block">
                            <h2 class="heading-s">92 8 Ekologisk Bomull Ull</h2>
                            <p class="body-text">
                                92% Ekologisk Bomull – 8% Ull Ekologisk bomull blandat med ull skapar värme från ullen med mjukhet och komfort från bomull. Detta ger en riktig vinterprodukt samtidigt som den har hög kvalité av hållbarhet och stil. 
                            </p>
                        </div>
                        <div class="text-block">
                            <h2 class="heading-s">95-5 Ekologisk Bomull Elastan</h2>
                            <p class="body-text">
                                95% Ekologisk Bomull – 5% Elastan Bomull är ett mjukt, fluffigt basfiber. Blandat med Elastan, känd för sin exceptionella elasticitet, läggs det till en extra flexibilitet, styrka och hållbarhet i tyget.
                            </p>
                        </div>
                        <div class="text-block">
                            <h2 class="heading-s">100 Ekologisk Bomull Single Jersey</h2>
                            <p class="body-text">
                                100% Ekologisk Bomull Single Jersey. Bomull är det mest förekommande materialet till tyg för kläder. Det är ett mjukt, fluffigt basfiber som i sig är ren cellulosa. Ekologisk bomull odlas utan användning av kemikalier eller genetiskt modifierade organismer (GMO). 
                            </p>
                        </div>
                        <div class="text-block">
                            <h2 class="heading-s">100 Ekologisk Bomull Slub</h2>
                            <p class="body-text">
                                100% Ekologisk Bomull Slub. Slub Materialet består av en bomullsgarn som har avsiktligt spunnits för att uppnå en oregelbunden form (med tjockare sektioner längs garnet). Detta skapar en växlande effekt på ytan.
                            </p>
                        </div>
                        <div class="text-block">
                            <h2 class="heading-s">100 Ekologisk Bomull Ultralight</h2>
                            <p class="body-text">
                                100% Ultralätt Ekologisk Bomull & Bomull Ultralätt version av ringspunnet kammad bomull som ger en lyxig känsla av att ha en “andra hud”. Den är tillverkad av ultratunna och extra långa stapel bomullsfiber.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="hallbarhetAccordion">
                    <h2 class="hallbarhetAccordion-header" aria-expanded="false" aria-controls="content1">
                        Licenser
                    </h2>
                    <div class="hallbarhetAccordion-content" id="content3">
                        <div class="licenseLinks">
                            <a href="https://gronatryck.se/Organic-Content-Standard-v1.pdf" target="_blank">OE-Blended</a>
                            <a href="https://gronatryck.se/criteria_for_bluesign_product_v2.0.pdf" target="_blank">Bluesign</a>
                            <a href="https://gronatryck.se/STANDARD%20100%20by%20OEKO-TEX®%20-%20Standard.pdf" target="_blank">Oeko-Tex 100</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

<footer class="footer">
  <div class="footer-container">
    <div class="footer-content">
      <div class="footer-column">
        <h2>Kundservice</h2>
        <ul>
          <li><a href="#">Frågor & svar</a></li>
          <li><a href="#">Kontakta oss</a></li>
          <li><a href="#">Köpvilkor</a></li>
          <li><a href="#">Återförsäljare</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h2>Läs mer</h2>
        <ul>
          <li><a href="#">Om oss</a></li>
          <li><a href="#">CSR</a></li>
          <li><a href="#">Hållbarhet</a></li>
          <li><a href="#">Stanley Stella</a></li>
          <li><a href="#">Nyheter</a></li>
          <li><a href="#">Jobba hos oss</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h2>Följ oss</h2>
        <div class="social-icons">
          <a href="#" aria-label="Facebook">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 800" fill="#052900">
              <path d="M800 109.06v581.89c0 60.23-48.83 109.06-109.06 109.06H109.06C48.83 800.01 0 751.18 0 690.95V109.06C0 48.83 48.83 0 109.06 0h581.89c60.23 0 109.06 48.83 109.06 109.06ZM690.83 72.82c20.08 0 36.35 16.28 36.35 36.35v581.66c0 20.08-16.28 36.35-36.35 36.35H508.72V473.32h75.59c15.67 0 29.58-10.03 34.54-24.9L635 399.97c5.88-17.65-7.26-35.89-25.86-35.89H508.72V291.2c0-19.99 16.36-36.35 36.35-36.35H618c20.08 0 36.35-16.28 36.35-36.35v-24.94c0-11.74-7.51-22.27-18.89-25.27-47.73-12.57-90.34-12.57-90.34-12.57-91.02 0-145.64 62.78-145.64 117.31v91.05h-71.87c-20.08 0-36.35 16.28-36.35 36.35v36.52c0 20.08 16.28 36.35 36.35 36.35h71.87v253.86H109.17c-20.08 0-36.35-16.28-36.35-36.35V109.17c0-20.08 16.28-36.35 36.35-36.35h581.66Z" style="fill:#052900;fill-rule:evenodd"/>
          </svg>
          </a>
          <a href="#" aria-label="LinkedIn">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 800" fill="#052900">
              <path d="M674.08 800.03h-548.1C56.53 800.03.03 743.53.03 674.08v-548.1C.03 56.53 56.53.03 125.98.03h548.1c69.45 0 125.95 56.5 125.95 125.95v548.1c0 69.45-56.5 125.95-125.95 125.95ZM125.98 70.12c-30.8 0-55.86 25.06-55.86 55.86v548.1c0 30.8 25.06 55.86 55.86 55.86h548.1c30.8 0 55.86-25.06 55.86-55.86v-548.1c0-30.8-25.06-55.86-55.86-55.86h-548.1Zm107.25 597.72c.23 0 .48-.25.48-.48v-369.5a.48.48 0 0 0-.48-.48H131.06c-.33.29-.67.7-.81.99v369.47h102.98Zm434.02 0c.18-.23.33-.53.33-.7V417.87c0-43.56-12.16-76.54-36.16-98.02-22.94-20.54-56.74-30.95-100.45-30.95s-70.8 9.81-92.34 31.81l-25.75 26.3V310.2c0-2.51 0-9.36-.86-12.82h-97.44c-.32.29-.64.68-.77.97V666.4c.27.45.74 1.02 1.18 1.44h101.8c.23 0 .48-.25.48-.48V469.27c0-29.55 4.94-50.65 15.54-66.41 13.29-19.74 34.94-29.75 64.38-29.75 24.71 0 42.09 6.66 53.14 20.35 9.54 11.83 13.79 27.85 13.79 51.94v221.84c.04.17.14.4.26.6h102.87ZM215.11 212.99c10.65-10.41 16.51-24.34 16.51-39.23 0-30.67-25.91-56.57-56.57-56.57s-54.21 25.91-54.21 56.57c0 15 5.67 29 15.96 39.41 10.18 10.31 23.77 15.98 38.25 15.98s29.39-5.74 40.06-16.16Z" style="fill:#052900"/>
          </svg>
          </a>
          <a href="#" aria-label="Instagram">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 800" fill="#052900">
              <path d="M673.92 800h-548.1C56.37 800-.13 743.49-.13 674.05V125.94C-.13 56.5 56.37 0 125.82 0h548.1c69.45 0 125.95 56.5 125.95 125.95v548.1c0 69.45-56.5 125.95-125.95 125.95ZM125.82 70.08c-30.8 0-55.86 25.06-55.86 55.86v548.1c0 30.8 25.06 55.86 55.86 55.86h548.1c30.8 0 55.86-25.06 55.86-55.86v-548.1c0-30.8-25.06-55.86-55.86-55.86h-548.1Zm274.02 235.74c-123.38 2.11-123.36 185.64 0 187.73 123.38-2.11 123.36-185.64 0-187.73Zm243-87.22c-46.84-98.69-163.09-73.68-275.86-76.94-118.63 1.03-159.62-4.92-210.09 76.93-20.62 28.36-14.43 150.19-15.36 214.28 1.03 118.64-4.92 159.62 76.93 210.09 28.36 20.62 150.19 14.43 214.28 15.36 78.92 0 118.38 0 148.52-15.36 81.84-50.58 75.87-91.38 76.94-210.09-.94-64.32 5.1-185.62-15.36-214.28Zm-243 321.88c-185.07-3.16-185.05-278.45 0-281.59 185.07 3.16 185.04 278.45 0 281.59Zm140.79-258.12c-30.85-.53-30.84-46.41 0-46.93 30.84.53 30.84 46.41 0 46.93Z" style="fill:#052900"/>
          </svg>
          </a>
          <a href="#" aria-label="Youtube">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 800" fill="#052900">
              <path d="M674.05 800h-548.1C56.5 800 0 743.5 0 674.05v-548.1C0 56.5 56.5 0 125.95 0h548.1C743.5 0 800 56.5 800 125.95v548.1C800 743.5 743.5 800 674.05 800ZM125.95 70.09c-30.8 0-55.86 25.06-55.86 55.86v548.1c0 30.8 25.06 55.86 55.86 55.86h548.1c30.8 0 55.86-25.06 55.86-55.86v-548.1c0-30.8-25.06-55.86-55.86-55.86h-548.1Zm222 396.31V321.83c51.47 24.22 91.33 47.62 138.47 72.83-38.88 21.57-87 45.75-138.47 72.14m286.9-217.07c-8.88-11.71-24.01-20.8-40.12-23.82-47.35-8.98-342.73-9.01-390.06 0-12.92 2.42-24.42 8.27-34.3 17.37-41.64 38.65-28.59 245.88-18.55 279.45 4.22 14.53 9.68 25.01 16.55 31.89 8.85 9.09 20.97 15.36 34.89 18.16 38.98 8.07 239.83 12.58 390.65 1.21 13.9-2.42 26.2-8.88 35.9-18.37 38.5-38.49 35.87-257.37 5.04-305.9" style="fill:#052900"/>
          </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>
        &copy;
        <script>
          document.write(new Date().getFullYear());
        </script>
        Gröna Tryck. Alla rättigheter förbehållna.
      </p>
    </div>
  </div>
</footer>
      <script async src="//www.instagram.com/embed.js"></script>
      <script src="/static/bootstrap.js"></script>
      <script src="/static/swiper.js"></script>
      <script src="/static/script.js"></script>
    </body>
  </html>