<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="stylesheet" href="/static/swiper.css" />
    <link rel="stylesheet" href="/static/popup.css" />
  </head>
  <body>
    <%- include('partials/navbar') %>
    <h1>hello world</h1>
    <button id="logoutButton">Logga ut</button>
    <%- include('partials/footer') %>
    <script src="/static/script.js"></script>
    <script src="/static/login.js"></script>
    <script src="/static/signup.js"></script>
  </body>
</html>
