@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

section{
    margin: 80px;

    @media screen and (min-width: 2000px) {
        margin-block: 160px;
    }
}
.footer {
    background-color: #F7F9F7;
    color: #6c757d;
    padding: 2rem 0;
}
.footer-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}
.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}
.footer-column {
    flex: 1;
    margin-bottom: 1rem;
    min-width: 200px;
    max-width: 300px;
}
.footer h2 {
    margin-bottom: 1rem;
    font-family: "Poppins";
    font-weight: 700;
    font-size: 22px;
    color: #052900;
}
.footer ul {
    list-style: none;
    padding: 0;
}
.footer ul li {
    margin-bottom: 0.5rem;
}
.footer a {
    color: #5B7657;
    text-decoration: none;

}
.footer a:hover {
    text-decoration: underline;
}
.social-icons {
    display: flex;
    gap: 1rem;
}
.social-icons svg {
    width: 32px;
    height: 32px;
    transition: transform 0.3s;
}
.social-icons a:hover svg {
    transform: scale(1.2);
}
.footer-bottom {
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid #dee2e6;
    text-align: center;
}
@media (max-width: 1080px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }
    .footer-column {
        width: 100%;
        max-width: 100%;
    }
}

.navbar-brand {
    transition: all 0.3s ease-in-out;
}
.navbar-nav {
    margin-left: auto;
    margin-right: auto;
}
.navbar-icons {
    display: flex;
    align-items: center;
}

.navbar-icons .nav-link {
    padding: 0.5rem;
    color: #567C50; /* Matcha färgen med dina nav-items */
}

.navbar-icons svg {
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
}

.navbar-icons svg:hover {
    transform: scale(1.2);
}

@media (max-width: 991px) {
    .navbar-icons {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.navbar {
    position: relative;
    background-color: #FFFFFF;
    font-family: "Poppins";
    font-size: 18px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.nav-item a{
    color: #567C50;
    font-family: "Poppins";
    font-size: 18px;
}

.nav-item a:hover {
    color: #052900;
    text-decoration: underline;
    text-decoration-color: #567C50;
    transform: scale(1.03);
    font-weight: 500;
}

@media (max-width: 991px) {
    .navbar-brand {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .navbar > .container {
        justify-content: flex-start;
    }
    .navbar-collapse {
        position: fixed;
        top: 56px; /* Adjust this value based on your navbar height */
        left: -75%; /* Start off-screen */
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 75%;
        height: calc(100% - 56px); /* Subtract the navbar height */
        background-color: #f8f9fa;
        transition: left 150ms ease-out;
        z-index: 1030; /* High z-index to ensure it's on top */
        overflow-y: auto; /* Allow scrolling if content is too long */
        padding-top: 80px;
    }
    .navbar-collapse.show {
        left: 0;
    }
    .navbar-toggler {
        order: -1;
    }
    .nav-link {
        font-size: 28px;
        padding-left: 36px;
    }
    .navbar-icons svg {
        width: 30px;
        height: 30px;
    }
}


section h1 {
    text-align: center;
    margin-bottom: 16px;
    font-family: "Poppins";
    font-size: 44px;
    font-weight: 700;
    color: #052900;

    @media screen and (max-width: 892px) {
        font-size: 22px;
    }
}

.heroSwiper {
    height: 60vh;

    @media screen and (max-width: 892px) {
        height: 40vh;
    }
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.product{
    background-color: #F7F9F7;
}

.product-image .product-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.product-price{
    font-weight: 700;
}

.productSwiper .swiper-pagination {
    position: unset !important;
}

.cards {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.cards h2 {
    font-family: "Poppins";
    font-size: 36px;
}

.services {
    position: relative;
    width: 100%;
    height: 50vh;
    margin-inline: 40px;
    overflow: hidden;
    transition: transform 0.5s;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.services h2 {
    color: white;
    z-index: 1;
}

.services:hover {
    transform: scale(1.03);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}



.brands {
    position: relative;
    width: 100%;
    height: 50vh;
    margin-inline: 40px;
    overflow: hidden;
    transition: transform 0.5s;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.brands img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.brands h2 {
    color: white;
    z-index: 1;
}

.brands:hover {
    transform: scale(1.03);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.brands:hover .brands-info {
    opacity: 1; /* Visa texten vid hover */
}


@media (max-width: 689px) {
    .services, .brands {
        height: 40vh;
    }
}

@media (max-width: 1080px) {
    .cards {
        flex-direction: column; /* Ändrar layouten till vertikal när bredden är mindre än 892px */
        align-items: center; /* Centrerar korten */
    }

    .brands {
        margin-bottom: 80px;
    }
}

@media (max-width: 1080px) {
    .cardsBackground {
        bottom: 0px;
        top: 400px;
    }
}

.white-button {
    border-width: 0px;
    border-radius: 50px;
    padding-inline: 32px;
    padding-block: 8px;
    background-color: #FFFFFF;
    color: #052900;
    font-weight: 700;
    transition: transform 0.3s;
}

.white-button:hover {
    background-color: #052900;
    color: #FFFFFF;
    transform: scale(1.1);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

}

.socialmedia-posts {
    display: flex;
    margin-inline: 100px;
    justify-content: center;
}

.socialmedia {
    position: relative;
}

.socialmedia-title img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 48%;

    @media screen and (max-width: 892px) {
        height: 22px;
    }
}


@media screen and (max-width: 1350px) {
    .media-2 {
        display: none !important;
    }
}

@media screen and (max-width: 1080px) {
    .media-3 {
        display: none !important;
    }
}

.brandColaborations h1 {
    text-align: center;
    margin-bottom: 16px;
    font-family: "Poppins";
    font-size: 28px;
    font-weight: 700;
    color: #052900;

    @media screen and (max-width: 892px) {
        font-size: 18px;
    }
}

.brandColaborations {
    margin-inline: 0px;
}

.colabSwiper {
    width: 100%;
    mask-image: linear-gradient(to right, 
    rgba(0, 0, 0, 0),  /* Full genomskinlighet på vänster sida */
    rgba(0, 0, 0, 1) 50%,  /* Full opacitet i mitten */
    rgba(0, 0, 0, 0)  /* Full genomskinlighet på höger sida */
  );
  }
  
  .colabSwiper .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    transition: transform 0.3s, opacity 0.3s;
  }
  
  .colabSwiper .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .colabSwiper .swiper-slide-active {
    transform: scale(1.2);
    opacity: 1 !important;
  }