@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

section{
    margin-inline: 16px;
    margin-block: 80px;

    @media screen and (min-width: 768px) {
        margin-block: 160px;
        margin-inline: 80px;
    }
}
.footer {
  background-color: #f7f9f7;
  color: #6c757d;
  padding: 2rem 0;
}
.footer-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
.footer-column {
  flex: 1;
  margin-bottom: 1rem;
  min-width: 200px;
  max-width: 300px;
}
.footer h2 {
  margin-bottom: 1rem;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 22px;
  color: #052900;
}
.footer ul {
  list-style: none;
  padding: 0;
}
.footer ul li {
  margin-bottom: 0.5rem;
}
.footer a {
  color: #5b7657;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
.social-icons {
  display: flex;
  gap: 1rem;
}
.social-icons svg {
  width: 32px;
  height: 32px;
  transition: transform 0.3s;
}
.social-icons a:hover svg {
  transform: scale(1.2);
}
.footer-bottom {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid #dee2e6;
  text-align: center;
}
@media (max-width: 1080px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }
  .footer-column {
    width: 100%;
    max-width: 100%;
  }
}

.navbar-brand {
  transition: all 0.3s ease-in-out;
}
.navbar-nav {
  margin-left: auto;
  margin-right: auto;
}
.navbar-icons {
  display: flex;
  align-items: center;
}

.navbar-icons .nav-link {
  padding: 0.5rem;
  color: #567c50; /* Matcha färgen med dina nav-items */
}

.navbar-icons svg {
  width: 40px;
  height: 40px;
  transition: transform 0.3s;
}

.navbar-icons svg:hover {
  transform: scale(1.2);
}

@media (max-width: 991px) {
  .navbar-icons {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.navbar {
  position: relative;
  background-color: #ffffff;
  font-family: "Poppins";
  font-size: 18px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.nav-item a {
  color: #567c50;
  font-family: "Poppins";
  font-size: 18px;
}

.nav-item a:hover {
  color: #052900;
  text-decoration: underline;
  text-decoration-color: #567c50;
  transform: scale(1.03);
  font-weight: 500;
}

@media (max-width: 991px) {
  .navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .navbar > .container {
    justify-content: flex-start;
  }
  .navbar-collapse {
    position: fixed;
    top: 56px; /* Adjust this value based on your navbar height */
    left: -75%; /* Start off-screen */
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 75%;
    height: calc(100% - 56px); /* Subtract the navbar height */
    background-color: #f8f9fa;
    transition: left 150ms ease-out;
    z-index: 1030; /* High z-index to ensure it's on top */
    overflow-y: auto; /* Allow scrolling if content is too long */
    padding-top: 80px;
  }
  .navbar-collapse.show {
    left: 0;
  }
  .navbar-toggler {
    order: -1;
  }
  .nav-link {
    font-size: 28px;
    padding-left: 36px;
  }
  .navbar-icons svg {
    width: 30px;
    height: 30px;
  }
}

section h1 {
  text-align: center;
  margin-bottom: 44px;
  font-family: "Poppins";
  font-size: 44px;
  font-weight: 700;
  color: #052900;

  @media screen and (max-width: 892px) {
    font-size: 22px;
  }
}

.heroSwiper {
  height: 60vh;

  @media screen and (max-width: 892px) {
    height: 40vh;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product {
  background-color: #f7f9f7;
}

.product-image .product-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.product-price {
  font-weight: 700;
}

.productSwiper .swiper-pagination {
  position: unset !important;
}

.cards {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.cards h2 {
  font-family: "Poppins";
  font-size: 36px;
}

.services {
  position: relative;
  width: 100%;
  height: 50vh;
  margin-inline: 40px;
  overflow: hidden;
  transition: transform 0.5s;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.services h2 {
  color: white;
  z-index: 1;
}

.services:hover {
  transform: scale(1.03);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.brands {
  position: relative;
  width: 100%;
  height: 50vh;
  margin-inline: 40px;
  overflow: hidden;
  transition: transform 0.5s;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.brands img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.brands h2 {
  color: white;
  z-index: 1;
}

.brands:hover {
  transform: scale(1.03);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.brands:hover .brands-info {
  opacity: 1; /* Visa texten vid hover */
}

@media (max-width: 689px) {
  .services,
  .brands {
    height: 40vh;
  }
}

@media (max-width: 1080px) {
  .cards {
    flex-direction: column; /* Ändrar layouten till vertikal när bredden är mindre än 892px */
    align-items: center; /* Centrerar korten */
  }

  .brands {
    margin-bottom: 80px;
  }
}

@media (max-width: 1080px) {
  .cardsBackground {
    bottom: 0px;
    top: 400px;
  }
}

.white-button {
  border-width: 0px;
  border-radius: 50px;
  padding-inline: 32px;
  padding-block: 8px;
  background-color: #ffffff;
  color: #052900;
  font-weight: 700;
  transition: transform 0.3s;
}

.white-button:hover {
  background-color: #052900;
  color: #ffffff;
  transform: scale(1.1);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.socialmedia-posts {
  display: flex;
  margin-inline: 100px;
  justify-content: center;
}

.socialmedia {
  position: relative;
}

.socialmedia-title img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 48%;

  @media screen and (max-width: 892px) {
    height: 22px;
  }
}

@media screen and (max-width: 1350px) {
  .media-2 {
    display: none !important;
  }
}

@media screen and (max-width: 1080px) {
  .media-3 {
    display: none !important;
  }
}

.brandColaborations h1 {
  text-align: center;
  margin-bottom: 16px;
  font-family: "Poppins";
  font-size: 28px;
  font-weight: 700;
  color: #052900;

  @media screen and (max-width: 892px) {
    font-size: 18px;
  }
}

.brandColaborations {
  margin-inline: 0px;
}

.colabSwiper {
  width: 100%;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    /* Full genomskinlighet på vänster sida */ rgba(0, 0, 0, 1) 50%,
    /* Full opacitet i mitten */ rgba(0, 0, 0, 0)
      /* Full genomskinlighet på höger sida */
  );
  }
  
  .colabSwiper .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    transition: transform 0.3s, opacity 0.3s;
  }
  
  .colabSwiper .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .colabSwiper .swiper-slide-active {
    transform: scale(1.2);
    opacity: 1 !important;
  }

  /* MOBILE FIRST */


  .primaryBtn {
    border-radius: 100px;
    border-width: 0;
    height: 50px;
    background-color: #567c50;
    color: #F7F9F7;
    font-family: "Nunito sans";
    font-size: 18px;
    font-weight: 700;
    padding-inline: 44px;

    @media screen and (min-width: 1280px) {
      height: 55px;
    }
  }

  .primaryBtn:hover {
    background-color: #052900;
  }

  .hero {
    position: relative;
    width: 100%;
    height: 40vh;
    overflow: hidden;
  }
  
  .hero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(86, 124, 80, 0.2);
    z-index: 1;
  }
  
  .hero h1 {
    position: absolute;
    top: 40%;
    left: 16px;
    font-family: "Poppins";
    color: #F7F9F7;
    font-size: 44px;
    z-index: 2;
  }

.heading-s-c {
    font-size: 18px;
    font-family: "Poppins";
    font-weight: 700;
    text-align: center;
    margin-bottom: 16px;
    color: #052900;

}

.heading-m {
    font-size: 28px;
    font-family: "Poppins";
    font-weight: 700;
    color: #052900;
    margin-bottom: 16px;
}

.heading-m-c {
  font-size: 28px;
  font-family: "Poppins";
  font-weight: 700;
  color: #052900;
  text-align: center;
  margin-bottom: 16px;
}

.body-text {
    font-family: "Nunito sans";
    font-size: 18px;
    color: #052900;
}

.body-text-s {
  font-family: "Nunito sans";
  font-size: 15px;
  color: #052900;
}

.body-text-s-c {
    font-family: "Nunito sans";
    font-size: 15px;
    text-align: center;
    color: #052900;
}

.alt-text-c {
    font-family: "Nunito sans";
    font-size: 18px;
    color: #747474;
    text-align: center;
}

.img-c {
    display: block;
    margin: auto;
    margin-bottom: 16px;
}

.margin-block-mobile {
  margin-block: 80px;

  @media screen and (min-width: 1280px) {
    margin-block: 0;
  }
}


/* About */

.aboutContainer {
    display: grid;
    grid-template-columns: auto;
}

.brandColaborations h2 {
  margin-inline: 16px;

  @media screen and (min-width: 768px) {
    margin-inline: 80px;
}
}

@media screen and (min-width: 768px) {
  .hero h1 {
    left: 80px;
  }
}

@media screen and (min-width: 1280px) {
    .aboutContainer {
        grid-template-columns: 50% 25% 25%;
    }
    .body-text {
        max-width: 75ch;
    }
    .hero, .hero img {
        height: 60vh;
      }
}

.owner img {
  height: 15vh;
}

.reviews {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.review-card {
  background-color: #F7F9F7;
  width: 100%;
  padding: 16px;
  border-radius: 5px;
}

.stars svg {
  height: 24px;
  margin-bottom: 16px;
}

.reco-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 80px;
}

.reco-link svg {
  width: 104px; 
  height: auto; 
}

@media (max-width: 1280px) {

  .review-card:last-child {
      display: none;
  }
}

@media (max-width: 768px) {

  .review-card:nth-child(2) {
      display: none;
  }
}

/* Butik */

.store-progress a, span {
  color: #052900;
  font-size: 18px;
  font-family: "Nunito sans";
}

.storeCategories {
  display: grid;
  grid-template-columns: auto;
  gap: 16px;
  margin-top: 16px;
}

@media screen and (min-width: 1280px) {
  .storeCategories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "item1 item1 item1 item1 item1"
      "item2 item2 item2 item2 item2"
      "item3 item3 item3 item4 item4"
      "item5 item5 item6 item6 item6"
      "item7 item7 item7 item7 item7";
      gap: 40px;
  }

  .categorieItem:nth-child(1) { grid-area: item1; }
  .categorieItem:nth-child(2) { grid-area: item2; }
  .categorieItem:nth-child(3) { grid-area: item3; }
  .categorieItem:nth-child(4) { grid-area: item4; }
  .categorieItem:nth-child(5) { grid-area: item5; }
  .categorieItem:nth-child(6) { grid-area: item6; }
  .categorieItem:nth-child(7) { grid-area: item7; }
}

.categorieItem {
  position: relative;
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: transform 0.5s;
}

.categorieItem:hover {
  transform: scale(1.03);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.categorieItem:nth-of-type(1) {
  --item-index: 1;
}
.categorieItem:nth-of-type(2) {
  --item-index: 2;
}
.categorieItem:nth-of-type(3) {
  --item-index: 3;
}
.categorieItem:nth-of-type(4) {
  --item-index: 4;
}
.categorieItem:nth-of-type(5) {
  --item-index: 5;
}

.categorieItem:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(86, 124, 80, 1);
  z-index: 1;
  border-radius: 5px;
  opacity: calc(0.2 + (0.1 * var(--item-index)));
}

.categorieItem:nth-of-type(1):before {
  opacity: 0.1;
}
.categorieItem:nth-of-type(2):before {
  opacity: 0.2;
}
.categorieItem:nth-of-type(3):before {
  opacity: 0.3;
}
.categorieItem:nth-of-type(4):before {
  opacity: 0.5;
}
.categorieItem:nth-of-type(5):before {
  opacity: 0.6;
}
.categorieItem:nth-of-type(6):before {
  opacity: 0.2;
}
.categorieItem:nth-of-type(7):before {
  opacity: 0.3;
}

.categorieItem img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.categorieItem h2 {
  color: #F7F9F7;
  z-index: 2;
}